# Use pip install -r requirements.txt to install all the requirements

Django==1.5.1
#argparse==1.2.1
#wsgiref==0.1.2


## Database backends
## PostgreSQL adapter for Python
psycopg2==2.5.1

django-heroku-postgresify==0.2

#Database migration
South

# Needed for heroku
dj-database-url==0.2.1

#API
django-tastypie

#Debug
django-debug-toolbar==0.9.4

#Mail server 
#sendgrid
#xlrd

#Search Engine
django-haystack
pysolr

#Geography
geopy
